@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import "nullstyle.scss";

$fontFamily:"Roboto";

body {
    font-family: $fontFamily;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-content: center;
    padding: 100px;

    @media (max-width: 490px) {
        padding: 26px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    @media (max-width: 937px) {
        flex-direction: column-reverse;
    }

    @media (max-width: 768px) {

        padding: 0;
    }

    &__info {
        width: 654px;

        @media (max-width: 1140px) {
            width: 500px;
        }

        @media (max-width: 937px) {
            width: 100%;
        }


        &__title {
            width: 340px;
            margin-bottom: 40px;

            @media (max-width: 937px) {
                margin-top: 50px;

            }

            @media (max-width: 490px) {
                width: 250px;
            }
        }

        &__title__name {
            font-weight: 300;
            font-size: 45px;
            line-height: 59px;
            letter-spacing: 0.07em;
            color: #010101;
            margin-left: 50px;

            @media (max-width: 937px) {
                margin-left: 5%;
            }


            @media (max-width: 490px) {
                font-size: 36px;
                line-height: 40px;
            }

            p+p {
                font-weight: normal;
                font-size: 45px;
                line-height: 59px;
                letter-spacing: 0.07em;
                color: #010101;

                @media (max-width: 490px) {
                    font-size: 36px;
                }

            }
        }


        &__position {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.07em;
            color: #010101;
            text-align: right;
            margin-top: 10px;
        }

    }

    &__contact {
        &__img {
            padding-right: 5px;

            img {
                height: 250px;
            }
        }
    }
}

.about {
    display: flex;
    margin-top: 50px;


    @media (max-width: 937px) {
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        margin-top: -20px;
    }

    &__hardskills {
        display: flex;
        flex: 0 0 50%;
        flex-direction: column;
        margin-top: -110px;


        @media (max-width: 1330px) {
            margin-right: 20px;

        }

        @media (max-width: 937px) {
            margin-top: 0px;
        }

        &__info {
            display: flex;


            @media (max-width: 768px) {
                flex-direction: column;

            }
        }

        &__info__title {
            width: 109px;
            height: 36px;
            color: #fff;
            background: #010101;
            position: relative;
            transform: rotate(-90deg);
            margin-top: 38px;
            margin-right: -20px;
            margin-left: -20px;

            @media (max-width: 768px) {
                transform: none;
                margin-bottom: 20px;
                margin-left: 0;
            }



            p {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;

            }
        }

        &__info__list {
            font-size: 16px;
            line-height: 19px;
            color: #010101;


            img {
                width: 500px;

                @media (max-width: 1330px) {
                    width: 420px;
                }

                @media (max-width: 1230px) {
                    width: 400px;
                }

                @media (max-width: 1180px) {
                    width: 360px;
                }

                @media (max-width: 1100px) {
                    width: 310px;
                }



                @media (max-width: 937px) {
                    width: 450px;
                }

                @media (max-width: 576px) {
                    width: 350px;
                }

                @media (max-width: 410px) {
                    width: 300px;
                }

                @media (max-width: 321px) {
                    width: 270px;
                }

            }
        }

        &__education {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            margin-left: 68px;
            color: #010101;

            @media (max-width: 1330px) {

                margin-top: 50px;
                margin-bottom: 50px;
            }

            @media (max-width: 768px) {
                margin-left: 0;

            }

            img {
                margin-right: 20px;
                width: 50px;
            }

            li {
                list-style: circle;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.07em;

            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            p {
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.07em;
                text-transform: uppercase;

            }

        }

        &__education__block {
            margin-top: 10px;
            display: flex;
        }

    }

    &__softskills {
        display: flex;
        flex: 0 0 50%;
        justify-content: flex-end;
       // padding-right: 40px;

        @media (max-width: 1180px) {
            margin-right: 50px;
        }

        @media (max-width: 768px) {
            flex-direction: column;

        }



        &__title {
            width: 109px;
            height: 36px;
            color: #fff;
            background: #010101;
            position: relative;
            transform: rotate(-90deg);
            margin-top: 38px;
            margin-right: -20px;
            margin-left: -20px;

            @media (max-width: 768px) {
                transform: none;
                margin-bottom: 20px;
                margin-left: 0;
            }


            p {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
            }
        }

        &__list {
            font-size: 16px;
            line-height: 19px;
            color: #010101;

            img {
                width: 450px;

                @media (max-width: 1330px) {
                    width: 420px;
                }

                @media (max-width: 1230px) {
                    width: 400px;
                }

                @media (max-width: 1180px) {
                    width: 360px;
                }

                @media (max-width: 1100px) {
                    width: 310px;
                }



                @media (max-width: 937px) {
                    width: 450px;
                }

                @media (max-width: 576px) {
                    width: 350px;
                }

                @media (max-width: 410px) {
                    width: 300px;
                }

                @media (max-width: 321px) {
                    width: 270px;
                }

            }


        }
    }
}


.portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    &__title {
        font-size: 50px;
        line-height: 59px;
        letter-spacing: 0.07em;
        color: #010101;
        overflow: hidden;

        @media (max-width: 576px) {
            font-size: 36px;
        }

        @media (max-width: 410px) {
            font-size: 30px;
        }

        p:after{
            content: "";
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 100%;
            height: 1px;
            background: #010101;
            margin-right: -100%;
            margin-bottom: 10px;
            margin-left: 10px;

        }

    }


    &__links {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex: 0 0 33%;
        flex-wrap: wrap;
        margin-top: 50px;

        @media (max-width: 1330px) {
            flex-flow: wrap;
            flex: 0 0 50%;
        }

        @media (max-width: 937px) {
            flex-flow: wrap;
            flex: 0 0 100%;
        }

        img {
            width: 100%;
            transition: .2s ease-in-out;

        }

        h2 {
            font-size: 22px;
            margin: 10px 0px 30px 0px;
        }

        &__container {
            flex: 0 0 30%;

            @media (max-width: 1330px) {
                flex: 0 0 48%;
            }

            @media (max-width: 937px) {
                flex: 0 0 100%;
            }

            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 140%;
                color: #010101;
                text-align: justify;

                @media (max-width: 937px) {
                    font-size: 14px;
                }
            }

            a {
                color: #010101;
            }

            h3 {
                font-size: 16px;
                line-height: 19px;
                color: #010101;
                margin-top: 20px;
                margin-bottom: 50px;

                @media (max-width: 937px) {
                    font-size: 14px;
                }

                a {
                    text-decoration: underline;
                }

                a:hover {
                    color: #A0A0A0;
                }
            }

            a:hover {
                img {
                    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
                }

                h2 {
                    color: #A0A0A0;
                }
            }

        }
    }

}

.contacts {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #010101;
    margin-top: 50px;
    flex-wrap: wrap;

    @media (max-width: 937px) {
        display: inline-block;
    }

    @media (max-width: 321px) {
        font-size: 14px;
    }

    a {
        text-decoration: underline;
        color: #010101;
        margin-right: 20px;


        img {
            margin-right: 5px;
        }

    }

    a:hover {
        color: #A0A0A0;
    }
}

.contact {
    font-size: 36px;
    line-height: 59px;
    letter-spacing: 0.07em;
    color: #010101;

    @media (max-width: 576px) {
        font-size: 30px;
    }

    @media (max-width: 410px) {
        font-size: 24px;
    }

}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;

}